.portada-acerca {
    margin-top: 10%;
    position: relative;
    width: 100%;
    height: 70vh; /* Ajusta la altura como desees */
    overflow: hidden; /* Evita que el contenido sobresalga */
}

.portada-acerca img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir toda la sección */
    top: 0;
    left: 0;
    z-index: -1; /* Asegura que la imagen esté detrás del texto */
}

.portada-acerca .cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Alinea el texto al centro */
    color: white; /* Color del texto */
}

.portada-acerca h1 {
    
    font-weight: bold;
    font-size: 4rem; /* Tamaño de la fuente del título */
    margin-bottom: 20px; /* Espaciado inferior */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto para mejorar la legibilidad */
}

.cuerpo-acerca{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 1.5rem;
    padding-left: 12%;
    padding-right: 12%;
}

.titulo-acerca{
    font-size: 2.5rem;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align:  center;
    font-weight: bold;
}

.texto-acerca{
    line-height: 3rem;;
    line-height: 3rem;
    text-align: justify;
}

.texto-acerca-intro{
    line-height: 3rem;
    text-align: center;
    line-height: 3rem;
}

.contenedor-fotos-acerca{
    padding-top: 4%;
    padding-bottom: 4%;
}

.cuerpo-acerca img {
    align-self: center;
    display: inline-block; /* Para que las imágenes se muestren en línea */
    width: 21%; /* Establece el ancho de las imágenes, disminuir para agregar mas fotos */
    margin: 0 1.5%; /* Espacio entre las imágenes */
  }
  
  @media (max-width: 768px) {
    .cuerpo-acerca img {
        padding: 2%;
      width: 90%; /* Cambia el ancho de las imágenes para dispositivos más pequeños */
      margin: 0 auto; /* Centra las imágenes */
      display: block; /* Muestra las imágenes en bloque para centrarlas */
    }
  }
  