
table.dataTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #000000;
}

table.dataTable thead th {
    background-color: #4f494941;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

table.dataTable tbody td {
    background-color: aliceblue;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
}

table.dataTable tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

table.dataTable tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Estilos para la paginación */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #000000 !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
    border-radius: 10px;
    border-style: groove;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    text-decoration: none;
}
.dataTables_wrapper .dataTables_paginate {
    padding-top: 5px;
    display: ruby-text;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #b4bac1 !important;
    border: 1px solid #dee2e6 !important;
}

.dataTables_info, .dataTables_length, .dataTables_filter{
    color: antiquewhite;

}
.dataTables_info{
    text-align: center;
    padding: 4px;
}
.dataTables_length select{
    border-radius: 50px;
}
.dataTables_length{
    padding-top: 5px;
    display: inline-block;
    justify-content: space-between;
}
/* Estilos adicionales */
.dataTables_wrapper .dataTables_filter {
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_length {
    margin-bottom: 10px;
}

