
.products{
   background-image: url(../img/fondo3.jpg) ;
   background-size: cover;
   background-position: center;
}

.portada-productos {
   z-index: 999;
   margin-top: 10%;
   margin-bottom: 5%;
   position: relative;
   width: 100%;
   height: 70vh; /* Esto asegura que la portada ocupe toda la altura de la ventana */
   overflow: hidden; /* Esto asegura que el video no se desborde */
}

.portada-productos video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover; /* Esto ajusta el video para que cubra todo el contenedor */
}

.portada-productos h1 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); /* Esto centra el texto vertical y horizontalmente */
   color: white; /* Color del texto */
   font-size: 4rem; /* Tamaño de fuente */
   font-weight: bold;
   text-align: center; /* Alineación del texto */
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto para mejorar la legibilidad */
   z-index: 1; /* Asegura que el texto esté sobre el video */
}

   .cover-text p {
       font-size: 1.2rem; /* Tamaño del texto */
   }


/*SECCIONES DE PRODUCTOS*/

.container-secciones-productos img{
   /* Estilos para la imagen */
   width: 300px; /* Establece el ancho deseado */
   height: auto; /* Mantiene la proporción original */
   display: block; /* Asegura que la imagen sea un elemento de bloque */
   margin: 0 auto; /* Centra horizontalmente la imagen */
   padding-bottom: -2rem;
}

.container-secciones-productos{
   padding-left: 15%;
   padding-right: 15%;
   padding:15px 9%;
   padding-bottom: 60px;
 }
 
 
 .container-secciones-productos .box-container-secciones{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
   gap:15px;
 }
 
 .container-secciones-productos .box-container-secciones .box-seccion{
   box-shadow: 10px 5px 10px rgba(0,0,0,.2);
   border-radius: 5px;
   background: #fff;
   text-align: center;
   padding:30px 20px;
 }
 
 /*.container-secciones-productos .box-container-secciones .box-seccion img{
   height: 80px;
 }*/
 
 .container-secciones-productos .box-container-secciones .box-seccion .subtitulo-secciones{
   padding-top: 2%;
   padding-bottom: 2%;
   color:#444;
   font-size: 22px;
   padding:10px 0;
 }
 
 .container-secciones-productos .box-container-secciones .box-seccion .texto-secciones{
   color:#777;
   font-size: 15px;
   line-height: 1.8;
 }
 
 .container-secciones-productos .btn a{
   color: #fff;
   text-decoration: none;
 }
 
 .container-secciones-productos .box-container-secciones .box-seccion .btn{
   margin-top: 10px;
   display: inline-block;
   background:#333;
   color:#fff;
   font-size: 17px;
   border-radius: 5px;
   padding: 8px 25px;
 }
 
 .container-secciones-productos .box-container-secciones .box-seccion .btn:hover{
   letter-spacing: 1px;
 }
 
 .container-secciones-productos .box-container-secciones .box:hover{
   box-shadow: 0 10px 15px rgba(0,0,0,.3);
   transform: scale(1.03);
 }
 
 @media (max-width:768px){
   .container-secciones-productos{
       padding:20px;
   }
 }

 /*TEXTO DE INTRODUCCION*/
 .intro-productos {
   color: #1B2C34;
   margin-top: 5%;
   text-align: center;
   line-height: 300%;
   padding: 15%;
   padding-top: 2%;
   padding-bottom: 0%;
 }

 .intro-productos .texto-intro-productos{
   padding-bottom: 2%;
   font-family: 'Quicksand';
   text-align: center;
   font-weight: normal;
   font-size: 1.5rem;
   color: black;
  
 }
 .intro-productos .titulo-intro-productos {
   padding-bottom: 2%;
   font-family: 'Raleway';
   font-weight: bold;
   font-size: 2.1rem;
 }


