.index-crud{
    align-content: center;
    /*background-color: #FAF2D4;*/
    background-image: url(../../img/fondo3.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    padding-top: 15%;
    padding-bottom: 15%;
}
.container-crud-index{
    margin: auto;
    max-width: 1000px;
    width: 100%;
    background: #D4D8FA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    transition: transform 0.3s; /* Transición para hover */
    opacity: 0; /* Inicialmente invisible */
    transform: translateY(20px); /* Inicialmente desplazado hacia abajo */
    animation: slideIn 0.8s forwards; /* Animación de deslizamiento */
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-crud-index:hover {
    transform: scale(1.02); /* Efecto de zoom al pasar el mouse por encima */
}
/*tablas*/
.table-productos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow: hidden; /* Para los bordes redondeados */
    border-radius: 10px; /* Bordes redondeados para la tabla */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para la tabla */
}

.thead-productos {
    background-color: #171C50; /* D8A8B7 */
    color: white;
    font-size: 1.2em; /* Tamaño de fuente más grande */
}

.th-productos {
    background-color: #FAF2D4; /* D8A8B7 */
    vertical-align: middle;
    text-align: center;
    padding: 15px; /* Más padding para más espacio */
    border: 1px solid #ddd;
    transition: background-color 0.3s; /* Transición para el efecto hover */
}

.td-productos {
    background-color: #FAF2D4; 
    vertical-align: middle;
    text-align: center;
    padding: 15px; /* Más padding para más espacio */
    border: 1px solid #ddd;
    transition: background-color 0.3s; /* Transición para el efecto hover */
}

.tr-productos:hover {
    background-color:#666BA5; /* FCF4F0 muy claro cuando se pasa el mouse por encima */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 5px 0;
}
/*botones*/
.btn-crud{
    font-weight: 400;
    background: #5170ba;
    color: rgb(255, 255, 255);
    padding: 1%;
    width: 145px;
    border-radius: 6px;
    text-decoration: none;

    position:relative;
    overflow: hidden;
    z-index: 1;

}
.btn-crud::before{
    content: '';
    width: 0;
    height: 3rem;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0f3ad8 0%, #474af9 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn-crud:hover::before{
   /* background: #4d755b;
    color: rgb(255, 255, 255);*/
    width: 9em;
}