.index-crud{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140vh;
    background-image: url("../../img/contact1.jpg") ;
    background-size: cover;
    background-position: center;
}
.container-crud-index{
    padding-top: 25%;
    width: 750px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #5b6df9;  
    border-radius: 10px;
    padding: 30px 40px;
}
/*tablas*/
.table-productos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #000000;
}

.table-productos th,
.table-productos td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
}

.table-productos th{
    background-color: #4f494941;
   
}
.table-productos td{
    background-color: aliceblue;
}
.table-productos-cabecera {
    background-color: #000000;
    color: #ffffff;
}

.table-productos-cuerpo tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.table-productos-cuerpo tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
    .container-crud-index{
        max-width: 481px;
    }
    .table-productos {
        width: 70%;
    }
    
    .btn-crud{
      max-width: 70px;
    }
}

/*botones*/
.btn-crud{
    font-weight: 400;
    background: #5170ba;
    color: rgb(255, 255, 255);
    padding: 1%;
    width: 145px;
    border-radius: 6px;
    text-decoration: none;

    position:relative;
    overflow: hidden;
    z-index: 1;

}
.btn-crud::before{
    content: '';
    width: 0;
    height: 3rem;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0f3ad8 0%, #474af9 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn-crud:hover::before{
   /* background: #4d755b;
    color: rgb(255, 255, 255);*/
    width: 9em;
}
